{% extends "base.html" %}
{% block title %}제품 목록{% endblock %}
{% load bootstrap3 %}
{% load static %}

{% block contents %}
    <script type="text/javascript" src="{% static 'js/system/items/get_item_script.js' %}"></script>

    {% csrf_token %}
    <div class="container myTable">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                <div class="jumbotron">
                    <h1>빵묶음 챌린지!</h1>
                    <p>
                        만원의 상품을 만들어보세요.
                    </p>
                    <div>합계 가격 <input id="resultSumData" placeholder="0" style="color: red" disabled></div>
                    <div>
                        <button class="btn btn-primary" id="submitBtn" onclick="createChoices()">전송</button>
                    </div>
                </div>
                <div class="row"></div>
                {% for bread in bread_qs %}
                    <div class="col-xs-6 col-lg-4 includeCheckBox">
                        <div class="panel panel-default" value="{{ bread.id }}">
                            <input type="checkbox" name="breadCheck" value="{{ bread.id }}"
                                   class="hidden_chk">
                            <img class="bd-placeholder-img card-img-top" src="{{ bread.photo.url }}" alt="" WIDTH="250"
                                 HEIGHT="225">
                            <h4>{{ bread.name }} || {{ bread.id }}</h4>
                            <p>{{ bread.desc }}</p>
                            <p class="price">가격 : {{ bread.price }}</p>
                            <input type="checkbox" name="breadPrice" value="{{ bread.price }}"
                                   class="breadPrice hidden">
                            <input type="text" name="breadID" value="{{ bread.id }}" type="hidden">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
                <div class="list-group">
                    {% for package_ins in package_qs %}
                        <a href="{% url 'items:package-detail' pk=package_ins.pk %}"
                           class="list-group-item">{{ package_ins.created_at }} || {{ package_ins.id }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

