.form-group-box {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group-box .form-group {
    width: 100%;
    margin: 0;
}

.field-label {
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 600;
}

.formBtn.add {
    color: blue;
    border: 1px solid blue;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-menu-item {

}

.ui-widget.ui-widget-content {
    max-height: 350px;
    overflow-y: auto;
    background-color: white;
    max-width: 300px;
    border-radius: 3px;
}

.ui-menu .ui-menu-item-wrapper {
    font-size: 20px;
    padding: 10px 15px;
    border:1px solid #ddd;
}

.ui-state-active {
    border: none !important;
    margin: 0 !important;
    background: #f0f6ff !important;
}