{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>

    <div id="post-{{post.pk}}" class="col col-lg-12">
        <div class="card">
            <div class="card-header">
                {{post.title}}
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">
                        <span>
                            <a href="#">
                                <img src="{{ post.user.img_profile_url }}"
                                     style="width: 30px; height: 30px; border-radius: 100%;">
                            </a>
                        </span>
                    </th>
                    <th scope="col">{{post.user.first_name}}</th>
                    <th scope=" col">{{post.created_at}}</th>
                    <th scope="col">{{post.id}}</th>
                </tr>
                </thead>
            </table>
            <div class="card-body">
                <img src="{{ post.image.url}}" class="card-img-top">
                <p class="card-text">{{post.content}}</p>
                <p class="card-footer">{{post.html|safe}}</p>

            <ul class="list-group">
                    {% for comment in post.comment_set.all %}
                    <li class="list-group-item ">
                        <strong>{{ comment.author}}</strong>
                        <span>{{ comment.html|safe}}</span>

                    </li>
                    {% endfor %}
                    {% if user.is_authenticated %}
                    <form action="{% url 'posts:post-like-toggle' post_pk=post.pk %}" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-primary" type="submit">
                            {% if user in post.like_users.all %}
                            좋아요 해제
                            {% else %}
                            좋아요
                            {% endif %}
                        </button>
                    </form>
                    {% endif %}

                    <div>
                        <span>좋아하는 사람 </span>
                        <strong>{{ post.like_users.count }}</strong>
                    </div>

                </ul>
                <!--댓글 작성 form 구현-->
                <!-- 유저가 로그인을 한 경우에만 보여지도록 -->
                {% if user.is_authenticated %}
                <form action="{% url 'posts:comment-create' post_pk=post.pk %}"
                      method="POST">
                    {% csrf_token %}
                    {{ comment_form.content }}
                    <button class="btn btn-primary btn-block"
                            type="submit">댓글 작성
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>

</div>
{% endblock %}