.wrap .version {
    display:none;
    align-items:flex-start;
    justify-content: space-between;
}
.wrap .drawing-file, 
.wrap .drawing-info {
    width:48%;
}
.info-inner .info-box {
    text-align: center;
}
.info-inner .info-box .table {
    margin-bottom:0;
}
.drawing-info .info-tab ul {
    text-align: left;
}
.drawing-file .file-tab {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:15px;
}
.drawing-file .file-tab ul {
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.drawing-file .file-tab ul li {
    padding:6px 30px;
    color:#a9a9a9;
    font-size:13px;
    border:1px solid #ddd;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.drawing-file .file-tab ul li + li {
    border-left:none;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.file-tab ul li.act {
    background:#5d62ff;
    color:white;
}
.drawing-file .file-tab .btn-box {
    display:none;
}
.drawing-file .file-tab .btn-box .btn {
    padding:4px 14px;
    font-size:13px;
    color:white;
    margin-left:10px;
    border-radius: 3px;
}
.drawing-file .file-tab .btn-box .btn.btn-down {
    background:#1e78e8;
}
.drawing-file .file-tab .btn-box .btn.btn-mod {
    background:#2aa50b;
}
.drawing-file .file.display-file {
    display:block;
}
.drawing-file .file {
    display:none;
    align-items: center;
    justify-content: center;
    border:1px solid #ddd;
    padding:20px;
}
.drawing-file .file > img {
    max-width:100%;
}
.drawing-file .create-file {
    padding:100px 30px;
}
.drawing-file .create-file p {
    color:#656565;
    margin:15px 0;
}
.drawing-file .create-file p span {
    display:inline-block;
    background:#18b784;
    color:white;
    border-radius: 3px;
    padding:6px 14px;
    cursor: pointer;
}
.drawing-file .create-file p span img {
    width:20px;
    margin-right:5px;
}
.drawing-file .create-file p span:hover {
    opacity: 0.6;
}
.drawing-file .file-view {
    width:90%;
    margin:20px auto;
    border-collapse: collapse;
}
.file-view tr th, .file-view tr td {
    padding:10px 12px;
    font-size:14px;
    border:1px solid #ddd;
    text-align: center;
}
.file-view tr th {
    background:#f5f5f5;
}
.file-view tr td {
    padding:20px 12px;
}
.file-view tr th p {
    margin: 7px auto 0;
    color: white;
    background: #3f5fa7;
    padding: 5px 0;
    font-weight: normal;
    border-radius: 100px;
    font-size: 14px;
    width: 90px;
    cursor:pointer;
}
.file-view tr th p:hover {
    opacity: 0.6;
}

/* version-2 */
.switching-button-box {
    position: relative;
    margin:10px 0;
}
.switching-button {
    display:inline-block;
    color:white;
    padding:7px 25px;
    cursor:pointer;
    box-shadow: 0 0 5px #9a9a9a;
    border-radius:3px;
}
.switching-button.view {
    display:none;
    background:#505050;
}
.switching-button.tree {
    background:#457eff;
}

.version-2 {
    padding:20px 0;
}
.row-scroll.top {
    margin-bottom:15px;
    overflow-x:auto;
    width:100%;
    height:10px;
    margin-left:0
}
.row-scroll.top .scroll {
    height:10px;
}
.row-scroll.bot {
    width:100%;
    overflow-x:auto;
    padding-bottom:10px;
}
.version-2 .detail-wrap {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.version-2 .detail-view + .detail-view {
    margin-left:10px;
}
.version-2 .detail-view .toggle-box {
    margin-bottom:10px;
    text-align: right;
}
.version-2 .detail-view .toggle {
    display:inline-block;
    padding:7px 0;
    width:90px;
    font-size:13px;
    color:white;
    cursor:pointer;
    border-radius: 3px;
    box-shadow: 0 0 5px #5d5d5d;
}
.version-2 .detail-view .toggle p {
    margin: 0;
    position: relative;
    text-align: left;
    padding: 0 15px;
}
.version-2 .detail-view .toggle p img {
    width: 26px;
    position: absolute;
    right: 10px;
    top: calc(50% - 13px);
}
.version-2 .detail-view .toggle.plus {
    display:none;
    background:#2a4c56;
}
.version-2 .detail-view .toggle.minus {
    background:#1a294a;
}
.version-2 .detail-view:last-of-type .toggle-box .toggle {
    visibility: hidden;
}
.version-2 table {
    width:500px;
    table-layout: fixed;
}
.version-2 table tr th,
.version-2 table tr td {
    font-size:13px;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
}
.version-2 table tr th {
    background:#0087bb;
    font-weight: normal;
    color:white;
    padding:0 3px;
    height:36px;
}
.version-2 table tr td {
    padding:0 3px;
    height:36px;
}
td.empty {
    text-indent: -9999px;
    border:none !important;
}
.border-left {
    border-left:1px solid #a2a2a2 !important;
}
[data-title]:hover::before {
    content:attr(data-title);
    position: absolute;
    top:0;
    right:15px;
    padding:8px 25px;
    background:#ff5757;
    color:white;
    font-size:15px;
    border:2px solid white;
    box-shadow: 0 0 0 2px #ff5757;
}
.load_spin {
    position: absolute;
    left:130px;
    top:calc(50% - 30px);
    width:60px;
}


/* svg style */
.node circle {
    fill: #fff;
    stroke: rgb(51, 174, 210);
    stroke-width: 3px;
}

.node text {
    font: 14px sans-serif;
}

path.link {
    fill: none;
    stroke: rgb(111 102 121);
    stroke-width: 2px;
    opacity: 0.5;
}

/* File Upload Modal */
.search-modal-content {
    width: 600px;
}
.regBtnWrap {
    margin-top:0;
}
.search-modal-content table tr th {
    background:#f5f5f5;
}
.filebox {
    margin:0;
    display:flex;
    align-items: center;
    justify-content: flex-start;
}
.filebox .upload-name {
    margin:0;
    margin-right:10px;
    width:240px;
}